@import '../../scss/index.scss';
@import '../../scss/tools.scss';
.box {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  
  .other {
    &-logo {
      font-family: Verdana, Tahoma;
      font-weight: bold;
      font-size: 26px;
  
      i:first-child {
        color: #253b80;
      }
  
      i:last-child {
        color: #179bd7;
      }
    }
    
    &-button {
      border: 1px solid rgb(80, 87, 170);
      padding: 15px 30px;
      border-radius: 5px;
      background-image: linear-gradient( rgb(241, 242, 255), rgb(152, 158, 219));
      margin: 0 auto;
      display: block;
      min-width: 138px;
      position: relative;
      text-align: center;
      
      &-title {
        color: #505050;
        vertical-align: baseline;
        text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.6);
        font-weight: bold;
      }
      
    }
  }
  